@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mooli&family=Permanent+Marker&family=Shadows+Into+Light&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    background-color: rgb(152, 237, 252);
}   